/* stylelint-disable */

/// *-------------------------------------------------------------------------
//    #SETTINGS CONFIG
// --------------------------------------------------------------------------*/

// 	CONTENT THIS FILE:
// 		# NAMESPACE
//       # CONFIG - FONTS
// 		# BASIC VALUE FOR PROJECT
//       # CONFIG - SETTINGS

// /*-------------------------------------------------------------------------
//    	# NAMESPACE
// --------------------------------------------------------------------------*/
$ns: asisa-;

// /*-----------------------------------------------------
// /     # CONFIG - FONTS
// /-----------------------------------------------------*/
$ns-font-default: "Lato";

// /*-------------------------------------------------------------------------
//    	# BASIC VALUE FOR PROJECT
// --------------------------------------------------------------------------*/

$ns-font-family: $ns-font-default;
$ns-font-size: 14;
$ns-line-height: 1.2;
$ns-background-color: color(white);
$ns-path-font: "@/assets/fonts/";
$ns-path-img: "@/assets/img/";

/* stylelint-enable */