<script setup lang="ts">
// Lib imports
// import { reactive, ref, computed } from "vue";

// Component state (maybe necessary)
// const state = reactive<{
//   items: string[];
// }>({
//   items: [],
// });

// Reactive primitive values with ref (maybe necessary)
// const loading = ref<boolean>(false);

// Properties
// const props = defineProps<{
//   data: string[];
// }>();

// Computed values
// const itemsList = computed<string>(() => {
//   return state.items.map((item) => `"${item}"`).join(", ");
// });

// Events
// const emit = defineEmits<{
//   (e: "select", value: string): void;
// }>();

// Event handlers
// const handleEvent = (value: string) => {
//   emit("select", value);
// };
</script>

<template>
  <div data-test-id="{{ appPrefix }}-core-{{scope}}-{{ name }}-component">
    {{ CoreComponentRoute scope name }} works !!!
  </div>
</template>

<style lang="scss" scoped>
// Scoped styles
</style>
