<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="HLA.Viena.Feed" value="https://alejandria.pkgs.visualstudio.com/_packaging/HLA.Viena.Feed/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <HLA.Viena.Feed>
        <add key="Username" value="kleondra@emeal.nttdata.com" />
        <add key="Password" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAABkjX7XpDNUmt5ABJ5Y4mWgAAAAACAAAAAAADZgAAwAAAABAAAAAASpPv+s2/e4RqWoUkAd4uAAAAAASAAACgAAAAEAAAAIxHOUcTih+fxX/eGd0ZiPkQAAAAhtT3gKzqWR/mD8avyQ7PHxQAAABD2l73c9zvqsFJj6gVwaHmKedY3Q==" />
      </HLA.Viena.Feed>
  </packageSourceCredentials>
</configuration>
