////
/// CSS Text size
///
/// Function to set a default font size to use later
///
////
@if $include__generic-text == true {
    @mixin text-h1 {
        font-size: 2rem;
        line-height: 3rem;

        @include desktop {
            font-size: 3rem;
            line-height: 4rem;
        }
    }

    @mixin text-h2 {
        font-size: 1.75rem;
        line-height: 2.625rem;

        @include desktop {
            font-size: 2.5rem;
            line-height: 3.5rem;
        }
    }

    @mixin text-h3 {
        font-size: 1.5rem;
        line-height: 2.25rem;

        @include desktop {
            font-size: 2rem;
            line-height: 2.75rem;
        }
    }

    @mixin text-h4 {
        font-size: 1.125rem;
        line-height: 1.625rem;

        @include desktop {
            font-size: 1.5rem;
            line-height: 2.25rem;
        }
    }

    @mixin text-h5 {
        font-size: 1rem;
        line-height: 1.5rem;

        @include desktop {
            font-size: 1.125rem;
            line-height: 1.875rem;
        }
    }

    @mixin text-body {
        font-size: 0.875rem;
        line-height: 1.375rem;

        @include desktop {
            font-size: 1rem;
            line-height: 1.5rem;
        }
    }

    @mixin text-body-lite {
        font-size: 0.75rem;
        line-height: 1.175rem;

        @include desktop {
            font-size: 0.875rem;
            line-height: 1.25rem;
        }
    }

    @mixin text-link {
        font-size: 0.875rem;
        line-height: 1.375rem;
        font-weight: bold;

        @include desktop {
            font-size: 1rem;
            line-height: 1.5rem;
        }
    }
}
