/* stylelint-disable */

.#{$ns}case-detail {
  &__title {
    display: flex;
    justify-content: space-between;
  }

  &__accordion {
    .asisa-case-detail__content:first-child {
      margin-top: 0;
    }
  }

  &__content {
    margin-top: 25px;
  }

  &__data {
    padding: 15px;
    background: color(portal-background);
    border-radius: 5px;
    width: fit-content;
  }

  // Accordeon containers

  &__retention {
  }
  
  &__button {
    width: 100%;
    text-align: right;
    margin-top: 24px;
  }

  // Client History styles

  &__history-client {
    display: flex;
    justify-content: space-between;
  }

  &__history-title {
    display: flex;
    flex-direction: column-reverse;

    text-align: center;
  }

  &__history-case {
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: color(ns-primary-blue);
  }

  &__history-date {
    font-size: 12px;
    line-height: 24px;
    color: (black);
  }

  &__history-content {
    display: grid;
    grid-template-columns: auto auto;
  }

  &__history-detail {
    display: flex;
    flex-direction: column;
  }

  &__history-label {
    font-size: 12px;
    line-height: 24px;
  }

  &__history-data {
    font-size: 16px;
    line-height: 24px;
  }
}

/* stylelint-enable */
