/* stylelint-disable */

// TODO: Organizar scss

// TODO: Gestión z-index

$sidebar-width: 286px;
$sidebar-header-margin: 5rem;
$sidebar-collapsed-width: 4rem;
$sidebar-link-height: 3rem;
$sidebar-animation: 0.4s;
$sidebar-horizontal-padding: 0.6rem;

.#{$ns}sidebar {
  position: fixed;
  display: block;
  top: $sidebar-header-margin;
  bottom: 0;
  left: 0;
  z-index: 9999;
  width: $sidebar-width;
  overflow-x: hidden;
  background: color(white);
  transition: width $sidebar-animation ease-in-out;
  color: color(ns-primary-blue);
  border: 2px solid color(default);
  border-left: 0;

  $self: &;

  &--collapsed {
    width: $sidebar-collapsed-width;
  }

  &__header {
    height: $sidebar-link-height;
    line-height: $sidebar-link-height;
    padding-right: $sidebar-collapsed-width;
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }
  &__header-content {
    font-weight: 700;
    position: absolute;
    top: 0;
    right: 0;
    width: $sidebar-width;
    height: $sidebar-link-height;
    line-height: $sidebar-link-height;
    padding-left: 1.2rem;
    padding-right: $sidebar-collapsed-width;

    &::before {
      display: block;
      content: "\e901";
      font-family: "primeicons";
      font-weight: bold;
      position: absolute;
      top: 0;
      right: 0;
      width: $sidebar-collapsed-width;
      height: $sidebar-link-height;
      line-height: $sidebar-link-height;
      text-align: center;
      transition: transform $sidebar-animation ease-in-out;
      transform: rotate(180deg);
    }
    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 0.5rem;
      right: 0.5rem;
      height: 1px;
      background-color: color(sidebar-separator);
      transition: left $sidebar-animation ease-in-out,
        right $sidebar-animation ease-in-out;
    }

    &--expanded {
      &::before {
        transform: rotate(0deg);
      }
      &::after {
        left: 0;
        right: 0;
      }
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__link {
    height: $sidebar-link-height;
    width: $sidebar-width;
    line-height: $sidebar-link-height;
    cursor: pointer;

    &.active {
        background-color: color(sidebar-active);
    }

    &:last-of-type {
        border-top: 2px solid color(sidebar-separator);
    }

    &--hassubmenu {
      position: relative;

      &::before {
        content: "\e902"; // chevron-down
        font-family: "primeicons";
        display: block;
        position: absolute;
        top: 0;
        right: $sidebar-horizontal-padding;
        height: $sidebar-link-height;
        line-height: $sidebar-link-height;
        transition: transform $sidebar-animation ease-in-out;
        font-weight: bold;
      }
    }
  }

  &__label {
    position: relative;
    display: block;
    height: $sidebar-link-height;
    line-height: $sidebar-link-height;
    padding-left: $sidebar-collapsed-width - 0.5rem;
    transition: padding-left $sidebar-animation ease-in-out;
  }

  &--collapsed #{ $self }__label {
    padding-left: $sidebar-collapsed-width;
  }

  &__label-icon {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: $sidebar-collapsed-width;
    height: $sidebar-link-height;
    line-height: $sidebar-link-height;
    text-align: center;

    i {
      font-weight: 700;
    }
  }

  &__submenu {
    max-height: 0;
    overflow: hidden;
    transition: max-height $sidebar-animation ease-in-out;
    position: relative;
  }

  // Submenu expanded
  &__link--expanded {
    &::before {
      transform: rotate(180deg);
    }
  }
  &__submenu--expanded {
    max-height: 100vh;
  }
}

/* stylelint-enable */
