/* stylelint-disable */

/// *-----------------------------------------------------
///		# INCLUDES
/// -----------------------------------------------------*/
// Include border-radius
$include__border-radius 		: true !default;
// Include box-shadow
$include__box-shadow 		    : true !default;
// Include transform
$include__transform 		    : true !default;
// Include transition
$include__transition 		    : true !default;
// Include truncate
$include__truncate 		        : true !default;
// Include display
$include__display 		        : true !default;
// Include box-sizing
$include__box-sizing 		    : true !default;
// Include generic-reset
$include__generic-reset 		: true !default;
// Include elements-reset
$include__reset-elements 		: true !default;
// Include generic-text
$include__generic-text 		    : true !default;
// Include body style
$include__style-body 		    : true !default;
// Include html style
$include__style-html 		    : true !default;

/* stylelint-enable */