/* stylelint-disable */

$radiobutton-width: 18px;
$radiobutton-height: 18px;

$checkbox-width: 18px;
$checkbox-height: 18px;

.#{$ns}forms {
  &__field {
    display: grid;
    grid-template-rows: 25px auto 14px;
  }

  &__label {
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    color: color(blue-form);

    &.p-invalid {
      color: color(error-form);
    }
  }

  &__inputs {
    width: 180px;
    height: 40px;
    padding: 12px;

    border: 1px solid color(blue-form);
    border-radius: 5px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: color(blue-form);

    &:focus {
      border-color: color(focus-form);

      &::placeholder {
        color: color(focus-form);
      }
    }

    &::placeholder {
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      // TODO: revisar
      color: color(blue-form);
    }
  }

  &__calendar {
    width: 180px;
    height: 40px;
    border: 1px solid color(blue-form);
    border-radius: 5px;

    .p-inputtext {
      border: none;
      padding: 12px;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      color: color(blue-form);
    }

    .p-button {
      border: none;
      color: color(blue-form);
      background-color: transparent;

      &:hover {
        color: color(blue-form);
        background-color: transparent;
      }
    }

    &.p-invalid {
      border-color: color(error-form);
    }

    &:focus {
      border-color: color(focus-form);

      &::placeholder {
        color: color(focus-form);
      }
    }
  }

  &__dropdown {
    width: 180px;
    height: 40px;

    border: 1px solid color(blue-form);
    border-radius: 5px;
    font-weight: 400;
    font-size: 14px;

    .p-dropdown-trigger-icon,
    .p-dropdown-label,
    .p-dropdown-label.p-placeholder {
      color: color(blue-form);
    }

    &:focus {
      border-color: color(focus-form);

      &::placeholder {
        color: color(focus-form);
      }
    }
  }

  &__textarea {
    border: 1px solid color(blue-form);
    border-radius: 5px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: color(blue-form);

    &::placeholder {
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      // TODO: revisar
      color: color(blue-form);
    }
  }

  &__radiobutton {
    display: flex;
    column-gap: 5px;
    align-items: center;

    cursor: pointer;
    width: fit-content;

    .p-radiobutton {
      width: $radiobutton-width;
      height: $radiobutton-height;

      .p-radiobutton-box {
        width: $radiobutton-width;
        height: $radiobutton-height;
        border: 2.5px solid color(default);
        .p-radiobutton-icon {
          background-color: transparent;
        }
      }
    }

    .p-radiobutton .p-radiobutton-box.p-highlight {
      border: 3.5px solid color(ns-primary-blue);
      background-color: transparent;

      &:not(.p-disabled):hover {
        border-color: color(ns-primary-blue);
        background-color: transparent;
      }
    }

    &-label {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;

      cursor: pointer;
    }

    .p-radiobutton-checked ~ .asisa-forms__radiobutton-label {
      color: color(ns-primary-blue);
    }

    &:hover {
      .p-radiobutton-checked ~ .asisa-forms__radiobutton-label {
        color: color(ns-primary-blue);
      }
    }

    &:hover {
      .asisa-forms__radiobutton-label {
        color: color(button-hover);
      }
    }
  }

  &__checkbox {
    display: flex;
    column-gap: 5px;
    align-items: center;

    cursor: pointer;
    width: fit-content;

    .p-checkbox {
      width: $checkbox-width;
      height: $checkbox-height;

      .p-checkbox-box {
        width: $checkbox-width;
        height: $checkbox-height;

        &.p-highlight {
          border-color: color(ns-primary-blue);
          background: color(ns-primary-blue);
        }
      }
    }

    &-label {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;

      cursor: pointer;
    }

    &:hover {
      .p-checkbox:not(.p-checkbox-checked) {
        .p-checkbox-box {
          border-color: color(button-hover);
        }

        & ~ .asisa-forms__checkbox-label {
          color: color(button-hover);
        }
      }
    }
  }

  &__switch {
    align-self: center;
    justify-self: center;

    &.p-inputswitch-checked .p-inputswitch-slider {
      background: color(ns-primary-blue);

      &:before {
        content: "\e909";
        font-family: "primeicons";
        font-weight: 700;
        font-size: 12px;
        color: color(ns-primary-blue);

        padding-top: 3px;
        padding-left: 3px;
      }
    }
  }
}

/* stylelint-enable */
