<script setup lang="ts">
// import { reactive, ref, computed } from "vue";
// --- plop:import

// Component state
// const state = reactive<{
//   items: string[];
// }>({
//   items: [],
// });

// Reactive primitive values with ref
// const loading = ref<boolean>(false);

// Computed values
// const itemsList = computed<string>(() => {
//   return state.items.map((item) => `"${item}"`).join(", ");
// });

// Event handlers
// const handleEvent = (event: any) => {
//   console.log("handleEvent", event);
// };
</script>

<template>
  <div data-test-id="{{ appPrefix }}-{{ name }}-view">
    {{ ViewRoute name }} works !!!
  </div>
</template>

<style lang="scss" scoped>
// Scoped styles
</style>
