/* stylelint-disable */
.#{$ns}insured-search {
  &__user-data {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    margin-bottom: 15px;
  }

  &__checks {
    margin-bottom: 25px;
  }

  &__buttons {
    display: flex;
    margin-top: 25px;
    justify-content: end;
  }
}

/* stylelint-enable */
