<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="CompanyNameLower.nuget.dev" value="NugetSourceLocal" />
<!--#if hasNugetCorp
    <add key="CompanyNameLower.nuget.corp" value="NugetSource" />
#endif-->
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget">
      <package pattern="*" />
    </packageSource>
    <packageSource key="CompanyNameLower.nuget.dev">
      <package pattern="CompanyName.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
