/* stylelint-disable */

//States
.#{$ns}state {
  border-radius: 5px;
  padding: 5px 10px;

  &--danger {
    background: color(state-warning);
  }

  &--pending {
    background: color(state-pending);
  }

  &--success {
    background: color(state-success);
  }

  &--new {
    background: color(state-new);
  }
}

.#{$ns}tab {
  .p-tabview-nav-link {
    i {
      margin-right: 0.75rem;
    }
  }
}

.#{$ns}toast {
  width: 338px;

  .p-message .p-message-wrapper {
    padding: 1rem;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }
}

.#{$ns}accordion {
  .p-accordion {
    .p-accordion-header-link {
      display: flex;
      justify-content: space-between;
      flex-flow: row-reverse;
    }

    .p-accordion-header:not(.p-disabled).p-highlight .p-accordion-header-link,
    .p-accordion-header-link {
      background: #eaecef;
    }

    .p-accordion-header-text {
      font-weight: 800;
      font-size: 16px;
      line-height: 24px;

      color: color(ns-primary-blue);
      text-transform: uppercase;
    }
  }
}

// .#{$ns}toast {
//   display: flex;
//   align-items: center;
//   position: relative;

//   width: 338px;
//   height: 48px;
//   padding: 10px;
//   margin: 15px 0;

//   border-left: 4px solid color(black);
//   border-radius: 5px;
//   background-color: color(disabled);

//   &__icon {
//     margin-right: 5px;
//   }

//   &__text {
//     font-weight: 400;
//     font-size: 14px;
//     line-height: 17px;
//   }

//   &__close {
//     position: absolute;
//     top: 15px;
//     right: 20px;
//   }

//   &--danger {
//     background: color(state-warning);
//     border-color: color(danger);
//     color: color(danger);
//   }

//   &--pending {
//     background: color(state-pending);
//     border-color: color(warning);
//     color: color(warning);
//   }

//   &--success {
//     background: color(state-success);
//     border-color: color(success);
//     color: color(success);
//   }

//   &--new {
//     background: color(state-new);
//     border-color: color(info);
//     color: color(info);
//   }
// }
/* stylelint-enable */
