/* stylelint-disable */
.#{$ns}modal {
  &__buttons {
    display: flex;
    justify-content: end;
    gap: 24px;

    padding-top: 25px;
    margin-top: 10px;
    border-top: 2px solid color(sidebar-separator);
  }

  p {
      margin-bottom: 2rem;
  }
}

/* stylelint-enable */
