/* stylelint-disable */

.#{$ns}tables {
  &.p-datatable {
    .p-column-header-content .p-column-title {
      font-size: 16px;
      color: color(default-dark);
    }

    .p-datatable-tbody > tr > td {
      font-size: 14px;
      color: color(black);
    }
  
    .p-paginator .p-paginator-first,
    .p-paginator .p-paginator-prev,
    .p-paginator .p-paginator-next,
    .p-paginator .p-paginator-last {
      min-width: 2rem;
      span {
        color: color(default-dark);
      }
    }

    .p-paginator .p-paginator-pages .p-paginator-page {
      min-width: 2rem;
      height: 2rem;

      color: color(default-dark);
    }
  }
}

/* stylelint-enable */
