/* stylelint-disable */
.#{$ns}button {
  padding: 12px 24px;
  border-radius: 8px;
  height: 40px;

  font-weight: 600;
  transition: 0.2s;
  border: 2px solid color(ns-primary-blue);
  border-radius: 4px;
  cursor: pointer;

  &:enabled:hover {
    background-color: color(button-hover);
    border-color: color(button-hover);
    color: color(white);
  }

  &--primary {
    background: color(ns-primary-blue);
    color: color(white);

    &[disabled] {
      background-color: color(button-disabled);
      border-color: color(button-disabled);
      pointer-events: none;
    }
  }

  &--secondary {
    background: color(white);
    color: color(ns-primary-blue);

    &[disabled] {
      color: color(button-disabled);
      border-color: color(button-disabled);
      pointer-events: none;
    }
  }

  &--no-border {
    border: none;
  }
}

/* stylelint-enable */