/* stylelint-disable */

////
/// HTML element
///
/// This is the html's style sheet
////
@if $include__style-html == true {
    html {
        position: relative;
        height: 100%;
        min-height: 100%;
        font-family: $ns-font-family;
        font-size: $ns-font-size + px;
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
        background-color: color(portal-background);
    }
}

/* stylelint-enable */