/* stylelint-disable */

////
/// BODY element
///
/// Here we got the body styles
////
@if $include__style-body == true {
  body {
    position: relative;
    font-family: $ns-font-default;
    color: color(ns-tertiary);
    // background-color: color(white);
    -webkit-text-size-adjust: 100%;

    .content {
      margin-left: 4rem;
      padding: 24px 40px;
    }
  }
}

/* stylelint-enable */
