/* stylelint-disable */

////
/// Colors variable
///
/// You must put all colors here and name them.
/// @access public
/// @author Dfront Specialist Team
/// @example scss color:color(primary);
///    color : #007bff;
/// @group Settings
/// @name color-map
/// @see $color
/// @since version 1.0.0
/// @type Map
////
$color-map: (
	// Project
	ns-primary-blue		:	#1c4a8d,
	ns-primary-orange	:	#ff5400,
	ns-secondary		:	#17a2b8,
	ns-tertiary			:	#333333,
	ns-main             :   #252d32,
	white	   	 		:	#ffffff,
	black	    		:	#15212c,
	disabled			:	#e1e5e8,
	// Default
	default-lighter		:	#e2e3e5,
	default-light		:	#d6d8db,
	default				:	#ced4da,
	default-dark		:	#485661,
	default-darker		:	#545b62,
	// Primary
	primary-lighter		:	#cce5ff,
	primary-light		:	#b8daff,
	primary				:	#335C98,
	primary-dark		:	#0069d9,
	primary-darker		:	#0062cc,
	// Success
	success-lighter		:	#d4edda,
	success-light		:	#c3e6cb,
	success				:	#00b140,
	success-dark		:	#218838,
	success-darker		:	#1e7e34,
	// Danger
	danger-lighter		:	#f8d7da,
	danger-light		:	#f5c6cb,
	danger				:	#e34044,
	danger-dark			:	#c82333,
	danger-darker		:	#bd2130,
	// Warning
	warning-lighter		:	#fff3cd,
	warning-light		:	#ffeeba,
	warning				:	#efa00b,
	warning-dark		:	#e0a800,
	warning-darker		:	#d39e00,
	// Info
	info-lighter		:	#d1ecf1,
	info-light			:	#bee5eb,
	info				:	#3a7cf5,
	info-dark			:	#138496,
	info-darker			:	#117a8b,
	// Darken
	darken-lighter		:	#d6d8d9,
	darken-light		:	#c6c8ca,
	darken				:	#343a40,
	darken-dark			:	#23272b,
	darken-darker		:	#1d2124,

	// Buttons
	button-hover		:	#3098cf,
	button-disabled		:	#bbc9dd,
	// Sidebar
	sidebar-active		:	#f7f8f9,
	sidebar-separator	:	#eceef0,
	// Inputs
	blue-form			:	#496ea4,
	focus-form			:	#3098CF,
	error-form			:	#E34044,
	// States
	state-warning		:	#fcc7cc,
	state-pending		:	#fde9aa,
	state-success		:	#c4e2c3,
	state-new			:	#e9e8ff,
	// Misc
	portal-background	:	#e8edf4
);

/* stylelint-enable */